*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { touch-action: pan-x pan-y; }


#root {
  height: 100%;
  width: 100%;

  overflow: hidden;
}

html,
body {
  font-size: 62.5%;
  font-family: "Rubik";
  touch-action: pan-y;
}
