*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   touch-action: pan-x pan-y;
}


@media (max-width: 768px) {
  html {
    font-size: 100%; /* מינימום 16px כדי למנוע zoom אוטומטי */
  }
}


html, body {
 touch-action: pan-x pan-y;
}

#root {
  height: 100%;
  width: 100%;

  overflow: hidden;
}

html,
body {
  font-size: 62.5%;
  font-family: "Rubik";
  touch-action: pan-y;
}
